body {
  font-size: 14px;
  color: #24292e;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #0366d6;
}

#toggle-form-btn {
  float: right;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
  font-size: 12px;
}
#footer a {
  color: rgba(0,0,0,.5);
}
.space-20 {
  width: 20px;
}
.space-40 {
  width: 40px;
}

/* No idea what I'm doing but I want links to be a bit darker if they are a parent node */
.text-parent {
  font-size: 16px;
  color: #24292e;
  font-weight: 600;
}
.text-parent a {
  color: #004ca2;
}
/* Looks like I have to reset the value for child links because it all inherits */
.text-child {
  color: initial;
  font-weight: initial;
  font-size: 14px;
}
.text-child a {
  color: #0366d6;
}

.favicon {
  max-height: 18px;
  float: left;
  padding: 5px;
}

.display-none {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.row {
  display: flex;
}

.col-md-9 {
  width: 75%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}